wp-content/themes/avada
wp-content/themes/sensitive
wp-content/plugins
wp-includes/wp-db.php
wp-content/uploads
wp-content/plugins

wp-config.php
phpinfo.php
connectionSite
*.scssc
*.esproj
*.espressostorage
.htaccess
