@import '_vars';
@import "_mixins";
@import "_reset";
@import "_utils";
@import "_grid";
@import "_icons";
@import "_typography";
@import "_nav";
@import "_widgets";
@import "_forms";
@import "_fontello";
@import "_calendar";
@import "_media";

body { color: $dk-grey; }
@include sticky-footer(40px, '#container', '#footer', '#footer');

 footer.full { height: 35px;
    ul { padding-left: 25px; padding-right: 25px; box-sizing: border-box; }
 }
 #container { max-width: 100%; }
 .wrap { width: 90%; 
   /*background: -webkit-linear-gradient(top, transparent 0%, red 20px, orange 50px, yellow 80px, green 110px, blue 140px, indigo 170px, violet 200px, transparent 230px, transparent 100%);*/
   /*url(/connection-site-v3-header_03.png)0 0 no-repeat*/ 
 }
 .main, #wrapper { padding: 30px 0; position: relative; background: none; border: none; max-width: 1200px;
   /*&:before { content: ""; position: absolute; left: -5%; top: 0; 
     background: url(images/treble_clef.svg) -130px 0 no-repeat; background-size: 430px auto;
     width: 15%; height: 600px;
     -webkit-mask-position: 0 0; -webkit-mask-size: 100%;
     -webkit-mask-image: -webkit-gradient(linear, left center, right center, color-stop(0, #000), color-stop(55%, transparent));
     opacity: .7;
   }*/
   @include media-query(mobilel) {
   		padding-left: 0;
   }
 }

.title { margin-top: 70px; }
 
 .masthead {
   //padding: 10px 0; 
   z-index: 200;
   .main-logo { display: block; height: 120px; //width: 206px; 
     background: url(images/logo1.png) 0 0 no-repeat;
     //background: url(logo1.png) 0 0 no-repeat;
   }   
 }
 
 .content, #container { position: relative; 
   /*&:before { content: ""; display: block; position: absolute; right: -50px; top: 50%; margin-top: -380px; 
     background: url(images/bassClef.svg) -45px 0 no-repeat; background-size: 420px auto;
     width: 30%; height: 500px;
     -webkit-mask-position: 0 0; -webkit-mask-size: 300px 200px;
     -webkit-mask-image: -webkit-gradient(linear, right center, left center, color-stop(0, #000), color-stop(55%, transparent));
     opacity: .7;
   }*/
   .cropper { width: 100%; height: 100px;
     img { width: auto; }
   }
 }
  
 .main-pane, #featured { border: none;
   background-color: $warm-brown;//#ddc08a; 
   margin-top: 0; margin-bottom: 20px; padding-bottom: 10px; position: relative;    
   article {padding: 15px; box-sizing: border-box; }
   p { text-align: left; padding: 0; }
	 #featured-image { margin-top: 20px;
	 		a { display: block; }
	 }
   @include media-query(mobilel) { float: none; width: 100%; }
 }
 
 .photo-slider, .featured-slider { width: 100%; height: 350px;
   img { border: none; @include vendor(box-shadow, none); margin-top: -180px; }
   p.mask { height: 100%; width: 100%; overflow: hidden; text-align: center; border-radius: 5px;
     img { position: absolute; z-index: 1; 
       &.current { z-index: 3; }
     }
   }
 }
 
 #content, #content-full, #content-search, #content-images { border: none; background-color: $warm-brown;
   margin-top: 0; margin-bottom: 20px; padding-bottom: 10px; position: relative; 
 	.post, .post-entry, .page, .attachment, .comments {	background: #fff; padding: 10px; margin: 0; }
 	.comments { margin-top: 20px; 
 		.comment-author { @extend %contain; margin-bottom: 20px;
 			img, .fn { display: block; float: left; }
 			.fn, .says { margin-top: 15px; margin-left: 5px; }
 			.says { display: inline-block; }
 		}
 		.comment-metadata, .reply { padding-top: 5px; padding-bottom: 5px; }
 		.comment-reply-link { @extend .icon-ccw; }
 		.comment-edit-link { @extend .icon-pencil; margin-left: 5px; }
 		.comment-content { padding-top: 10px; padding-bottom: 10px; }
 	}
 	@include media-query(mobilel) { float: none; width: 100%; }
 }
 
 .secondary-pane { margin-top: 20px; box-sizing: border-box;
   article { border-radius: 6px; padding: 10px; 
     img { width: 100%; }
   }
   .highlight, .news, .blog { background-color: $warm-pink; }
   /*.highlight { background-color: #0afcd8; }
   .news { background-color: #3c6ef2; }
   .blog { background-color: #ed9e7f; }*/
 }
 
 .call-to-action { text-align: left; 
 	a.button { @include font-size(22px); padding: 10px 20px; }
 }
 
 .pulldown, .logout { margin-bottom: 30px; font-size: 1.2em; 
   &.active { background-color: $brown; color: #fff; display: block; height: 30px; padding: 5px 10px 5px 20px; border-radius: 5px 5px 0 0; margin-top: 0; position: relative;
     &:after { content: " "; position: absolute; bottom: 0; width: 100%; height: 1px; right: 0; border-top: 10px solid $brown; z-index: 200; }
   }
 }
 .login-form { top: 60px; right: 0; z-index: 100; }

 .title-search-results { color: #fff; margin: 10px 0; }
 .page + .page { border-top: 10px solid $warm-brown; }
 
 .post-meta, .post-title { padding: 10px; margin: 0; color: $grey; 
 		h1 { padding-left: 0; }
 }

 #respond {	margin-top: 20px;	border: none; 
 	.logged-in-as { font-size: 10px; }
 	.comment-form-comment { padding-top: 10px; }
 }
 
 .post-edit {	border-top: 1px solid #efefef; padding-top: 10px; @include vendor(box-shadow, 0 -1px 0 transparentize($pink, .5)); }
 .post-edit-link {	@extend .icon-pencil; }
 .comments-link {	@extend .icon-chat; }
 
 .gallery-columns-3 {	
 	 .gallery-item { width: 31.914893617021%; max-width: 33%; margin-top: 10px; 
 	   .gallery-icon { @include vendor(box-shadow, 0px 0px 10px rgba(0,0,0, .3)); padding: 10px; @include vendor(border-radius, 5px); }
 	 }
 	 .gallery-item + .gallery-item { margin-left: 2.127659574468%; }
 }
 
img {
	border: 2px solid #efefef;
	background: #fff;
	@include vendor(box-shadow, 0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset);
}
 