//colors
$lila: #D2BDC0;
$purple: #92278F;
$beige: #ebdebb;
$brown: #d2bea0;
$warm-brown: #DDBFA7;
$dk-brown: #AA766C;
$pink: #fae7e5;
$warm-pink: #ead5ce;
$dk-grey: #444; //default text color
$grey: #777;

// fonts
$copse: "Copse", sans-serif;
$arial: Helvetica, Arial, sans-serif;
$awesome: 'FontAwesome';
$fontello: 'fontello';

//media query breakpoins
$tabletl:       980px  !default;
$tabletp:       800px   !default;
$mobilel:       740px   !default;
$mobilep:       480px   !default;
