.widget-wrapper { margin-bottom: 0; background: #fff; @extend .box; @include vendor(border-radius, 3px); }

#widgets.search {	background: mix($warm-brown, #fff, 25%); margin-bottom: 10px;
	.widget_search { padding: 0; }
	.submit {	width: 25%; }
}

#widgets { 
	&, .front-page & { margin-top: 0; 
		@include media-query(tabletl) {	margin-top: 0; }
		@include media-query(tabletp) { float: left; clear: none;	}
	}
	.widget_recent_entries {
	 	ul { padding: 0; 
	 		a { font-size: 1.4em; }
	 	}
	 }
	 .tribe-events-list-widget ol li {
	 	h4:before { content: '\E825'; font-family: $fontello; display: inline-block; margin-right: 3px; color: $purple; }
	 }
}